html,
body,
#viewDiv {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

header {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: pink;
  flex-direction: column;
  transition: all 0.5s ease-in-out;
}

.controls {
  display: flex;
}

header.zatvori {
  transform: translateY(-80px);
  margin-bottom: -80px;
}

footer {
  background: rgba(13, 150, 230, 0.658);
  color: white;
  padding: 0.5rem;
  text-align: center;
}

footer a {
  color: white;
}

footer a:hover {
  color: white;
}
